# Ignore installed gems.
/vendor/bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep

# Webpack artifacts
/node_modules
/public/webpack

# Terraform config
/terraform/terraform.tfvars
/terraform/.terraform

# In general, remove these rules for an actual application
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
